<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195905407223-pbffeleq467tcing1jpmle6rbiksmok2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195905407223-pbffeleq467tcing1jpmle6rbiksmok2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195905407223-18eu4tmheogs57qubv5ph6bil36r9qf5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgrTdd5QdBbCOo5X2FPUHNVgCLayMvOPE</string>
	<key>GCM_SENDER_ID</key>
	<string>195905407223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinCC.composemate</string>
	<key>PROJECT_ID</key>
	<string>composemate</string>
	<key>STORAGE_BUCKET</key>
	<string>composemate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195905407223:ios:08eb228d288eb7ad0d2bf2</string>
</dict>
</plist>